@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: #E1FAEA;
}

h1 {
    color: rgb(1, 100, 1);
}

h1#principal {
    text-align: center;
    background-color: rgb(1,100,1);
    color: white;
}

h2 {
    color: rgb(2, 199, 2);
}

.basico {
    color: rgb(1, 100, 1);
    font-weight: bold;
}

.intermediario {
    color: rgb(127, 125, 6);
}

.avancado {
    color: rgb(100, 22, 1);
}